@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300|Share+Tech+Mono);

html {
    overflow: auto;
    background-color: #fff;
}

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    line-height: 130%;
    color: #000;
    background-color: #fff;
}

ul {
    list-style: square;
}

a {
    color: #e66000;
    text-decoration: none;
}

a:visited {
    color: #e66000;
}

a:active {
    color: #e66000;
}

strong {
    font-weight: 400;
}

header {
    display: block;
    padding: 6px 4px;
}

#main {
    position: fixed;
    top: 0;
    left: 0;
    right: 250px;
    bottom: 0;
    overflow: auto;
    box-shadow: 0 0 5px #000000;
    z-index: 2;
}

section {
    display: block;
    background-color: #fff;
    padding: 12px 24px;
    min-height: calc(100% - 196px);
    max-width: 850px;
    margin: auto;
}

.class-description {
    font-style: italic;
    font-size: 130%;
    line-height: 140%;
    margin-bottom: 1em;
    margin-top: 1em;
}

.variation {
    display: none;
}

.optional:after {
    content: "opt";
    font-size: 60%;
    color: #aaa;
    font-style: italic;
    font-weight: lighter;
}

nav {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 1px solid #ccc;
    padding: 10px;
    overflow: auto;
    width: 230px;
    background: #FFFFFF;
    font-weight: 400;
}

nav ul {
    font-size: 100%;
    line-height: 17px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav h2 a, nav h2 a:visited {
    color: #A35A00;
    text-decoration: none;
    font-weight: 300;
}

nav h3 {
    margin-top: 12px;
    border-top: 1px solid #e66000;
    padding-top: 12px;
    font-weight: 300;
}

nav li {
    margin-top: 6px;
}

nav a {
    text-decoration: none;
    color: #A35A00;
}

nav a:visited {
    color: #A35A00;
}

nav a:active {
    color: #A35A00;
}

footer {
    display: block;
    padding: 30px;
    margin-top: 12px;
    text-align: center;
    font-size: 100%;
    background: #e66000;
}

footer a {
    text-decoration: none;
    color: #ffffff !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 0;
    line-height: 1.5;
    color: #441d00;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 170%;
}

h3 {
    font-size: 140%;
}

h4 {
    font-size: 130%;
}

h5, .container-overview .subsection-title {
    font-size: 120%;
}

h6 {
    font-size: 110%;
}

.page-title {
    text-align: center;
    background: #e66000;
    margin: 0;
    padding: 40px;
    color: #ffffff;
    text-shadow: 1px 1px 0 #000000;
    font-size: 250%;
    font-weight: 300;
    line-height: 0.5;
}

.ancestors {
    color: #999;
}

.ancestors a {
    color: #999 !important;
    text-decoration: none;
}

.important {
    font-weight: bold;
    color: #950B02;
}

.yes-def {
    text-indent: -1000px;
}

.type-signature, .type-signature a, .type-signature a:visited, .type-signature a:active {
    color: #aaa;
}

h4.name {
    border-left: 10px solid #e66000;
    padding: 0 20px;
}

.details {
    margin-top: 14px;
}

.details dt {
    width: 100px;
    float: left;
    padding-left: 10px;
    padding-top: 6px;
}

.details dd {
    margin-left: 50px;
}

.details ul {
    margin: 0;
}

.details ul {
    list-style-type: none;
}

.details li {
    margin-left: 30px;
    padding-top: 6px;
}

.details pre.prettyprint {
    margin: 0
}

.details .object-value {
    padding-top: 0;
}

dd > .description {
    margin-left: -16px;
}

.description {
    margin-bottom: 1em;
    margin-left: 20px;
    margin-top: 1em;
}

.description > ul {
    list-style: square;
    padding: 0;
    margin: 10px;
}

.description p {
    margin: 0;
}

tt, code, kbd, samp, pre {
    font-family: 'Share Tech Mono', monospace;
    font-size: 90%;
}

.code-caption {
    font-style: italic;
    font-size: 107%;
    margin: 0;
}

.prettyprint {
    border: 1px solid #ddd;
    width: 80%;
    overflow: auto;
}

.prettyprint.source {
    width: inherit;
}

.prettyprint code {
    line-height: 18px;
    display: block;
    padding: 4px 12px;
    margin: 0;
    background-color: #fff;
    color: #000;
    border-left: 3px #ddd solid;
}

.prettyprint code span.line {
    display: inline-block;
}

.params, .props {
    border-spacing: 0;
    border: 0;
    border-collapse: collapse;
    border: 1px solid #FFCFAC;
}

.params .name, .props .name, .name code {
    color: #A35A00;
    font-family: 'Share Tech Mono', monospace;
    font-size: 100%;
}

.params td, .params th, .props td, .props th {
    border: 1px solid #FFCFAC;
    margin: 0;
    text-align: left;
    vertical-align: top;
    padding: 4px 6px;
    display: table-cell;
}

.params th, .props th {
    color: #ffffff;
    font-weight: 300;
}

.params thead tr, .props thead tr {
    background-color: #e66000;
    font-weight: 300;
}

.params .params thead tr, .props .props thead tr {
    background-color: #fff;
    font-weight: 300;
}

.disabled {
    color: #454545;
}

blockquote {
    background: #ffecdf;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C" "\201D";
    position: relative;
}

blockquote:before {
    color: #e66000;
    content: open-quote;
    font-size: 4em;
    position: absolute;
    left: 0;
}

blockquote:after {
    color: #ccc;
    content: close-quote;
    font-size: 4em;
    position: absolute;
    right: 0;
}